[submodule "docs/more"]
	path = docs/more
	url = https://github.com/kchinzei/kch-rgbw-docs-more.git
[submodule "src/examples"]
	path = src/examples/calc
	url = https://github.com/kchinzei/kch-rgbw-calc.git